<table class="table table-hover">
    <thead>
        <tr>
            <th ng-repeat="dataType in $ctrl.objectTypes">{{ ::dataType.name }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.items">
            <td ng-repeat="dataType in $ctrl.objectTypes" class="vcenter">
                <div ng-if="::$ctrl.dataType.is('image', dataType.name)">
                    <img class="media-object img-circle" ng-src="{{ ::item[dataType.name] }}" alt="{{ ::dataType.name }}">
                </div>
                <div ng-if="::!$ctrl.dataType.is('image', dataType.name)">
                    {{ item[dataType.name] }}
                </div>
            </td>
            <td class="vcenter" ng-transclude></td>
        </tr>
    </tbody>
</table>
