<div class="page-wrapper">
    <div class="row padding-vertical">
        <div class="col-xs-4">
            <div class="form-group">
                <label for="nome">Pesquisa</label>
                <input type="text" class="form-control" name="pesquisa" id="pesquisa" placeholder="Procurar participantes por email" ng-model="vm.pesquisa">
            </div>
        </div>
        <div class="col-xs-8 text-right">
            <button class="btn btn-primary" ng-click="vm.adicionarInformacao('informacao')">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Convidar
            </button>
            <button class="btn btn-primary" ng-click="vm.adicionarInformacao('lista')">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Gerar relatórios
            </button>
        </div>
    </div>
    <lista-participantes participantes="$ctrl.participantes"></lista-participantes>
</div>

