@import "../../lib/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../../modules/main/main";

//alerts
.box-alert {
  position: fixed;
  right: 0;
  top: 10px;
  z-index: 99999;
}

//loader
.loader-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  .loader-box {
    background: #FFF;
    margin: 0 auto;
    top: 40%;
    position: fixed;
    left: 45%;
    display: table;
    .loader-icon {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        width: 96%;
      }
    }
  }
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.help-block {
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 30px;
}
