<div class="page-wrapper" id="informacaoPage">
    <div class="row padding-vertical">
        <div class="col-xs-12 text-right">
            <button class="btn btn-primary" ng-click="vm.adicionar('informacao')">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Nova Informação
            </button>
            <button class="btn btn-primary" ng-click="vm.adicionar('lista')">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Nova Lista
            </button>
        </div>
    </div>
    <div class="panel panel-default" ng-repeat="informacao in vm.lista">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    {{ informacao.nome }}
                </div>
                <div class="col-xs-6 text-right">
                    <button class="btn btn-warning" ng-click="vm.adicionar(informacao)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger" ng-click="vm.excluirInformacao(informacao)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div ng-if="informacao.descricao">
                {{ informacao.descricao }}
            </div>
            <div ng-if="informacao.filhos">
                <div class="row" ng-repeat="filho in informacao.filhos">
                    <div class="col-xs-6">
                        <strong>{{ filho.nome }}</strong>
                    </div>
                    <div class="col-xs-6">
                        {{ filho.descricao}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

