<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="menuCtrl as vm">

    <div class="navbar-header">
        <button ng-click="menu.openMenu()" type="button" class="navbar-toggle" data-towggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="dashboard">
            <img style="width:50%" src="./assets/imgs/logo_forum.png" class="img-responsive" alt=""/>
        </a>
    </div>

    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
                    class="caret"></b></a>
            <ul class="dropdown-menu message-dropdown">
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>John Smith</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>John Smith</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>John Smith</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-footer">
                    <a href="#">Read All New Messages</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu alert-dropdown">
                <li>
                    <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">View All</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{vm.usuario.nome}}<b
                    class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li ui-sref="eventos" ui-sref-active="active" ng-if="!isInEvent">
                <a><i class="fa fa-calendar-o"></i> Eventos</a>
            </li>
            <li ui-sref="eventos.dashboard" ui-sref-active="active" ng-if="isInEvent">
                <a><i class="fa fa-arrow-circle-right"></i>Dashboard</a>
            </li>
            <li ui-sref="eventos.informacoes" ui-sref-active="active" ng-if="isInEvent">
                <a class="nav-item-collapse">Informações</a>
            </li>
            <li ui-sref="eventos.participantes" ui-sref-active="active" ng-if="isInEvent">
                <a class="nav-item-collapse">Participantes</a>
            </li>
            <li ui-sref="eventos.noticias" ui-sref-active="active" ng-if="isInEvent">
                <a> <i class="fa fa-arrow-circle-right"></i>Notícias</a>
            </li>
            <li ui-sref="usuarios" ui-sref-active="active" ng-if="!isInEvent">
                <a><i class="fa fa-users"></i> Usuários</a>
            </li>
            <li ui-sref="eventos" ng-if="isInEvent" class="item-logout">
                <a><i class="fa fa-sign-out"></i> Sair do evento</a>
            </li>
        </ul>
    </div>

</nav>
