.navbar-right {
    .dropdown {
        padding-top: 5px;
    }
}
.navbar-collapse {
    li {
        i {
            margin-right: 7px;
        }
    }
    .item-logout {
        position: absolute;
        bottom: 0;
        color: #fff;
        cursor: pointer;
    }
}
