.table-relatorio {
    text-align: center !important;
    th {
        text-align: center;
    }
}
.modal-relatorio {
    // .modal-body {
    //     max-height: 480px;
    //     overflow: auto;
    // }
    .fa-print {
        margin: 3px 15px 0;
    }
    .close {
        margin-top: 2px;
    }
    
}