<div id="galeriaPage">
    <div class="row">
        <div class="col-xs-6">
            <h2> Galeria </h2>
        </div>
        <div class="col-xs-6">
            <button style="margin-top:20px" type="button" name="button" class="btn btn-primary pull-right" ng-click="vm.adicionarFoto()">
                Adicionar fotos
            </button>
        </div>
    </div>
    <div class="row"> 
        <div class="col-lg-2 col-md-3 col-xs-6 thumb" ng-repeat="foto in vm.lista">
            <a href="#" class="thumbnail">
                <img ng-src="{{foto.imagem}}" alt="">
            </a>
        </div>
    </div>
</div>