<div id="eventosPage" ng-init="vm.init();">
    <div class="row">
        <div class="col-xs-6">
            <h2> Eventos </h2>
        </div>
        <div class="col-xs-6">
            <button style="margin-top:20px" type="button" name="button" class="btn btn-primary pull-right" ng-click="vm.novoEvento()">
                Novo evento
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 card" ng-repeat="evento in vm.eventoList | orderBy: 'dataInicio'">
            <div class="panel panel-default">
                <div class="triangle-topright" ng-if="evento.destaque">
                    <i class="fa fa-star" aria-hidden="true" data-title="Destaque" bs-tooltip data-placement="top"></i>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">{{evento.nome}}</h3>
                </div>
                
                <div class="panel-body">
                    <figure>
                        <img ng-src="{{ evento.imagem || './assets/imgs/evento_default.png' }}" class="img-responsive center-block" alt="{{evento.nome}}" />
                    </figure>
                    <p class="information" ng-if="evento.local">
                        <span>Local: </span> {{evento.local}}
                    </p>
                    <p class="information">
                        <span>Data:</span> {{evento.dataInicio | date:'dd/MM/yyyy'}} as {{evento.horaInicio | date:'HH:mm'}}
                    </p>
                    
                    <p class="information description" ng-if="evento.descricao" ng-bind-html="evento.descricao | limitTo : 200">
                    </p>
                    <p class="information description"ng-if="!evento.descricao" class=""><i>Este evento não possui descrição</i></p>
                    

                    <div class="buttons pull-right">
                        <button type="button" name="button" class="btn btn-danger" ng-click="vm.excluir(index)">
                            Excluir
                        </button>
                        <button type="button" name="button" class="btn btn-warning" ng-click="vm.novoEvento(evento)">
                            Editar
                        </button>
                        <button class="btn btn-primary" ng-click="vm.acessar(evento.id)">
                            Entrar
                        </button>
                    </div>

                </div>
            </div>
            
        </div>
    </div>

</div>
