#eventosPage {
    .card {
        .information {
            margin: 0;
            &:first-child {
                margin-top: 5px !important;
            }
            span {
                font-weight: bold;
                margin-right: 5px;
                width: 90px;
            }
        }
    }
}
#eventoCadastroPage {
    .dateform {
        [class^="col"] {
            padding-left: 0 !important;
        }
    }
}
