#eventosPage {
    .card {
        figure {
            height: 120px;
            overflow: hidden;
            margin: 0 0 5px;
            img {
                width: 100%;
            }    
        }
        .panel-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .information {
            margin: 0;
            &.description {
                height: 53px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            span {
                font-weight: bold;
                margin-right: 5px;
                width: 90px;
            }
        }
        .buttons {
            margin-top: 5px;
        }
    }
}
#eventoCadastroPage {
    .dateform {
        [class^="col"] {
            padding-left: 0 !important;
        }
        .help-block {
            left: 0 !important;
        }
    }
    .upload-preview {
        margin-top: 10px;
        position: relative;
        .remove {
            right: 25px;
            position: absolute;
            color: #c30;
            // font-size: 25px;
        }
        .thumbnail {
            max-height: 300px;
        }
    }
    .sub-radio {
        padding-left: 20px;
    }
}