#eventosPage {
    .card {
        .information {
            margin: 0;
            &:first-child {
                margin-top: 5px !important;
            }
            span {
                font-weight: bold;
                margin-right: 5px;
                width: 90px;
            }
        }
    }
}
#eventoCadastroPage {
    .dateform {
        [class^="col"] {
            padding-left: 0 !important;
        }
        .help-block {
            left: 0 !important;
        }
    }
    .upload-preview {
        margin-top:10px;
        position: relative;
        .remove {
            right: 25px;
            position: absolute;
            color: #c30;
            // font-size: 25px;
        }
        .thumbnail {
            max-height: 300px;
        }
    }
}
