<div id="eventosPage">
    <div ng-if="eventoList.length == 0" class="empty-message">
        <p>Nenhum evento registrado até o momento.</p>
        <div>
            <button class="btn btn-primary-bg" ng-click="editarEvento()">Novo evento</button>
        </div>
    </div>

    <div ng-if="eventoList.length > 0">
        <div flex="100" class="change-view">
            <button class="btn btn-primary" style="float: right;" ng-click="editarEvento($event, null)">Novo evento</button>
            <i class="fa fa-th-large" ng-click="tab = 'card'" ng-class="{'active' : tab === 'card'}"></i>
            <i class="fa fa-list" ng-click="tab = 'lista'" ng-class="{'active' : tab === 'lista'}"></i>
        </div>

        <!-- Lista -->
        <table id="table" class="table table-hover table-striped table-mc-light-blue" ng-show="tab == 'lista';">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do evento</th>
                    <th>Data do evento</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="evento in eventoList | orderBy: 'dataInicio'">
                    <td data-title="ID">{{::evento.id}}</td>
                    <td data-title="Nome">{{::evento.nome}}</td>
                    <td data-title="Data">{{::evento.dataInicio | date : 'dd/MM/yyyy'}}</td>
                    <td data-title="Acoes" style="width: 20%; text-align:right">
                        <button md-no-ink class="btn btn-primary" ng-click="excluirEvento(evento, $event)">Excluir</button>
                        <button md-no-ink class="btn btn-primary" ng-click="editarEvento($event,evento)">Editar</button>
                        <button md-no-ink class="btn btn-primary" style="margin-left:5px;float: right;margin-top: 0px;" ng-href="#/{{evento.id}}/dashboard">Entrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>