<div id="eventosPage">

    <div class="row">
        <div class="col-xs-6">
            <h2> Eventos </h2>
        </div>
        <div class="col-xs-6">
            <button style="margin-top:20px" type="button" name="button" class="btn btn-primary pull-right" ng-click="evento.novoEvento()">
                Novo evento
            </button>
        </div>
    </div>

    <div class="row" ng-if="!evento.listMode">
        <div class="col-md-4 card">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Evento 1</h3>
                </div>
                <div class="panel-body">
                    <img class="img-responsive center-block" src="./assets/imgs/evento_default.png" alt="Evento 1" />
                    <p class="information">
                        <span>Local: </span> Porto Alegre
                    </p>
                    <p class="information">
                        <span>Data:</span> 24/10/2016 as 16:00h
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
                    </p>

                    <div class="buttons pull-right">
                        <button type="button" name="button" class="btn btn-danger" ng-click="evento.excluirEvento(index)">
                            Excluir
                        </button>
                        <button type="button" name="button" class="btn btn-warning">
                            Editar
                        </button>
                        <button type="button" name="button" class="btn btn-primary">
                            Entrar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
