<!doctype html>

<html ng-app="app">

<head>
    <!-- inject:css -->
    <!-- endinject -->
    <title>NT SAMPLES</title>
</head>

<body>
    <global-loader loader="$root.loader" text-loader="Carregando website..."></global-loader>

    <div ui-view ng-if="!$root.showMenu"></div>

    <div id="wrapper" ng-if="$root.showMenu">
        <!-- Navigation -->
        <div ng-include="'menu/menu.html'"></div>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ui-view></div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->



</body>

<!-- inject:js -->
<!-- endinject -->

</html>
