<div id="loginPage">

    <div class="col-md-6 col-md-offset-3">

        <img class="img-responsive center-block" src="./assets/imgs/logo_forum.png" alt="Fórum Sicredi" />

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-left">Bem vindo ao backoffice </div>
            </div>

            <div class="panel-body">

                <div class="box-errors-login">

                </div>

                <form name="frmLogin" novalidate="" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">


                    <div class="input-group">
                        <div class="help-block pull-left" ng-messages="frmLogin.email.$error" ng-if="frmLogin.email.$touched">
                            <p ng-show="frmLogin.email.$invalid" class="text-danger">Campo <i>email</i> requerido.</p>
                        </div>
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input id="user" type="email" class="form-control" name="email" value="" ng-model="user.login" placeholder="Email" required>
                    </div>


                    <div class="input-group">
                        <div class="help-block pull-left" ng-messages="frmLogin.senha.$error" ng-if="frmLogin.senha.$touched">
                            <p ng-show="frmLogin.senha.$invalid" class="text-danger">Campo <i>senha</i> requerido.</p>
                        </div>
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="senha" ng-model="user.senha" placeholder="Password" required>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" href="#" class="btn btn-primary pull-right" ng-click="login(frmLogin)"><i class="fa fa-angle-right"></i> Login</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
